header{
    .header-div{
        height: 7.5rem;
        background-color: #CCC692;
        display: flex;
        justify-content: space-between;
        .cartel-img{
            img{
                padding-left: 7.5rem;
                height: 7.5rem;
            }
        }
        div{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            padding-right: 2.1875rem;
            gap: 1rem;
            p{
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 1.375rem;
                padding-right: 3.9rem;
                img{
                    margin-right: .125rem;
                    width: 1.875rem;
                }
            }
            a{
                text-decoration: none;
                color: black;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 1.5625rem;
                img{
                    margin-right: .625rem;
                }
            }
        }
    }
    .navbar {
        background-color: #504F4F !important;
        .nav-item{
            font-family: 'Nunito', sans-serif;
            font-size: 1.875rem;
            font-weight: 700;
        }
        .d-flex {
            padding-right: 3.4375rem;
            position: relative;
            input{
                width: 21.875rem;
                height: 3.125rem;
                border-radius: .375rem;
                font-size: 1.125rem;
                padding: 0 .9375rem;
                border: .125rem solid #fff;
                background: transparent;
                color: #fff;
                outline: none;
                &:focus ~ label {
                    top: 0;
                    left: .9375rem;
                    font-size: 1rem;
                    padding: 0 .125rem;
                    background: #504F4F;
                    padding: 0px .625rem;
                }
                &:focus {
                    box-shadow:  0 0 .4375rem rgb(88, 128, 182);
                }
            }
            label{
                position: absolute;
                top: 50%;
                left: .9375rem;
                transform: translateY(-50%);
                color: #fff;
                font-size: 1.1875rem;
                pointer-events: none;
                transition: .3s;
            }
        }
    }
}